@charset "utf-8";

/*common*/

@media (min-width:560px) {
  #header .inner {
    padding: 0 56px;
  }
}



/*main*/
@media (min-width:560px) {
  .main {
    margin: 0 90px;
  }

  .coatch .coatch_detail {
    left: 80%;
  }

  .coatch_guide {
    right: 90px;
  }
}

@media (max-width:768px) {
  .main {
    padding-top: 12px;
    max-width: 768px;
  }
}

/* sub0001 */

@media (min-width:560px) {
  #header0001 .inner0001 {
    padding: 0 56px;
  }

  .sub0001_content {
    padding: 28px 56px;
  }

  #header0001 strong {
    font-size: 2.2rem;
  }

  .sub0001_content p {
    font-size: 1.8rem;
  }

  .search_0001 img {
    padding-right: 30px;
  }

}


/* sub0002 */

@media (min-width:560px) {
  #header0002 .inner0002 {
    padding: 0 56px;
  }

  .sub0002_content {
    padding: 28px 56px 0;
  }

  .sub0002_list li {
    padding: 12px 2px;
  }

  #header0002 strong {
    font-size: 2.2rem;
  }

  .sub0002_content p {
    font-size: 1.8rem;
  }

  .sub0002_list li {
    width: calc(100% - 112px);
    margin: 0 auto;
  }

  .sub0002_list span {
    font-size: 1.8rem;
  }

  .sub0002_list p {
    font-size: 1.4rem;
  }

  .sub0002_list li img {
    padding: 4px 8px 0 0;
  }

  .sub0002_list p {
    padding-left: 24px;
  }

  .close_0002 img {
    padding-right: 30px;
  }

}


/*sub01*/

@media (min-width:560px) {
  #sub01_content ul li a {
    padding: 24px 56px;
  }

  #sub01_content ul li span {
    font-size: 1.6rem;
  }


  #sub01_content ul li p {
    font-size: 1.8rem;
  }

  #sub01_content ul li i {
    font-size: 1.6rem
  }

  /* 코치마크 */
  .coatch01_detail li {
    max-width: 768px;
    top: 300px;
  }

}





/*sub02*/
@media (min-width:560px) {
  .day_box {
    padding: 0 56px;
  }

  .recent {
    margin: 0 56px 40px;
  }

  .recent_list {
    margin: 0 56px 28px;
  }

  .sub02_calendar_inner {
    padding: 20px 0;
  }

  .sub02_calendar_btn p {
    font-size: 1.8rem
  }
}

/*sub0201*/
@media (min-width:560px) {
  #header p {
    right: 56px;
  }
}

/* sub03 */

@media (min-width:560px) {
  .list_03 ul li {
    padding: 20px 56px 20px;
  }

  .list_03 .month_03 {
    padding: 40px 0 30px;
  }

  .common_date_box {
    height: 78px;
    padding: 0 56px;
  }

  .common_date_box a i {
    display: inline-block;
    padding: 0px 8px;
    font-size: 2.0rem;
  }

  .common_date_box>div a img {
    padding: 7px 0 0 10px;
  }

  .common_date_box>a>img {
    padding-top: 6px;
  }

  .common_date_box>div b {
    font-size: 2.4rem;
  }

  .common_date_box>div a {
    font-size: 1.8rem;
  }

  .list_03 .month_03 {
    font-size: 2.0rem;
  }

  .list_03 ul li .tit_03 {
    font-size: 1.8rem;
    padding-bottom: 6px;
  }

  .list_03 ul li .txt_03 {
    font-size: 1.8rem;
  }

  .list_03 ul li span {
    font-size: 1.6rem;
    padding-top: 6px;
  }
}

/* sub0301 */
@media (min-width:560px) {
  .sub0301_date_box {
    height: 78px;
  }

  .list_0301 ul li {
    padding: 24px 56px 20px
  }

  .list_0301 ul li .tit_0301 {
    font-size: 1.8rem;
    padding-bottom: 6px;
  }

  .list_0301 ul li .txt_0301 {
    font-size: 1.8rem;
  }

  .list_0301 ul li span {
    font-size: 1.6rem;
    padding-top: 6px;
  }

  .sub0301_date_box span img {
    padding: 10px 0 0 16px;
    scale: 1.3;
  }

  .list_0301 ul li .tit_0301 img {
    padding: 6px 6px 0;
  }
}

/* sub0302 */
@media (min-width:560px) {
  .sub0302_content span {
    font-size: 1.8rem;
  }

  .sub0302_content {
    padding: 24px 56px;
  }


  .sub0302_content div p {
    font-size: 2.0rem;
  }
}

/* sub04 */


@media (min-width:560px) {
  .sub04_wrap {
    padding-bottom: 0;
    background: #Fff;
  }

  .sub04_content {
    width: 100%;
    height: auto;
    background: var(--sub_blue);
  }

  .sub04_content a:first-child {
    padding-top: 0px;
  }

  .sub04_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 56px 0;
  }

  .sub04_content a {
    display: inline-block;
    padding: 0px;
    width: calc((100% - 28px) / 2);
    margin-bottom: 28px;
    background: var(--sub_blue);
  }

  .sub04_content li:nth-child(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;

  }

  /* 코치마크 */
  .coatch04 .coatch04_wrap>span {
    right: auto;
    left: 75%;
    top: 160px;
  }

  .coatch04_guide {
    right: auto;
    left: 55%;
    top: 225px;
  }
}

@media (min-width:730px) {
  .coatch04 .coatch04_wrap>span {
    right: auto;
    left: 81%;
    top: 160px;
  }

  .coatch04_guide {
    right: auto;
    left: 63%;
    top: 225px;
  }
}

/* sub0401 */

@media (min-width:560px) {
  .sub0401_tit {
    padding: 32px 56px;
  }

  .sub0401_txt {
    padding: 28px 56px;
  }

  .sub0401_tit ul li:first-child {
    font-size: 1.6rem;
  }

  .sub0401_tit ul li:last-child {
    font-size: 2.2rem;
  }

  .sub0401_txt p {
    font-size: 2.0rem;
  }

  .sub0401_txt strong {
    font-size: 2.0rem;
  }

  .sub0401_btn {
    max-width: 768px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .sub0401_btn button {
    font-size: 1.8rem;
  }

  /* 코치마크 */
  .coatch0401 .coatch0401_wrap>span {
    max-width: 360px;
    bottom: 12px;
  }

  .coatch0401_guide {
    right: 60%;
    left: auto;
  }
}

/* sub05 */

@media (min-width:560px) {

  .sub05_wrap {
    padding: 0 56px 12px;
  }

  .sub05_tit {
    padding: 24px 24px;
  }


  .sub05_tit li p {
    font-size: 1.8rem;
  }

  .sub05_tit li>span {
    display: block;
    font-size: 1.6rem;
  }

  .sub05_tit li p {
    padding-bottom: 4px;
  }

  .sub05_tit>li:nth-child(1) p span {
    top: 8px;
  }

  .sub05_tit.active05 {
    padding-bottom: 0;
  }

  .sub05_calendar_btn p {
    font-size: 1.8rem
  }

  .sub05_calendar_btn p a {
    font-size: 1.8rem
  }
}

/* sub0501 */
@media (min-width:560px) {
  .sub0501_wrap {
    padding: 0 56px;
  }

  .sub0501_date_box span {
    font-size: 2.4rem;
  }

  .sub0501_tit li p {
    font-size: 1.8rem;
  }

  .sub0501_tit li>span {
    font-size: 1.6rem;
  }

  .sub0501_list {
    font-size: 1.6rem;
  }

  .sub0501_date_box span img {
    padding: 10px 0 0 16px;
    scale: 1.3;
  }

  .sub0501_tit>li:nth-child(1) p span {
    top: 8px;
  }
}

/* sub06 */


@media (min-width:560px) {

  .sub06_wrap {
    padding: 0 56px 12px;
  }

  .sub06_tit {
    padding: 24px 24px;
  }


  .sub06_tit li p {
    font-size: 1.8rem;
  }

  .sub06_tit li>span {
    display: block;
    font-size: 1.6rem;
  }

  .sub06_tit li p {
    padding-bottom: 4px;
  }

  .sub06_tit>li:nth-child(1) p span {
    top: 8px;
  }

  .sub06_tit.active06 {
    padding-bottom: 0;
  }

  .sub06_calendar_btn p {
    font-size: 1.8rem
  }

  .sub06_calendar_btn p a {
    font-size: 1.8rem
  }
}

/* sub0601 */

@media (min-width:560px) {
  .sub0601_wrap {
    padding: 0 56px;
  }

  .sub0601_date_box span {
    font-size: 2.4rem;
  }

  .sub0601_tit li p {
    font-size: 1.8rem;
  }

  .sub0601_tit li>span {
    font-size: 1.6rem;
  }

  .sub0601_list {
    font-size: 1.6rem;
  }

  .sub0601_date_box span img {
    padding: 10px 0 0 16px;
    scale: 1.3;
  }

  .sub0601_tit>li:nth-child(1) p span {
    top: 8px;
  }

  .sub0601_tit li p {
    padding-bottom: 4px;
  }
}

/*sub08*/
@media (min-width:560px) {
  .sub08_tab_list ul li a {
    padding: 24px 56px 26px;

  }

}



/*sub0801*/
@media (min-width:560px) {
  .sub0801_tit a {
    padding: 24px 56px 26px;
  }

  .sub0801_contents {
    margin: 32px 56px;
  }
}



/*sub09*/
@media(min-width:560px) {
  .protector ul {
    padding: 28px;
    margin: 0 56px;
    gap: 90px;
  }

  .protector ul li:nth-of-type(1) {
    display: flex;
    width: auto;
    align-items: center;
    gap: 28px;
  }

  .protector ul li:nth-of-type(2) {
    display: none;
  }

  .protector ul li:nth-of-type(3) {
    display: flex;
    width: auto;
    align-items: center;
    gap: 28px;
  }

  .sub09_list>ul>li {
    padding: 24px 56px 26px;
  }

  .sub09_list>ul>li:nth-child(1) {
    padding: 24px 56px 26px;

  }

  .sub09_list>ul>li:nth-child(5) {
    padding: 24px 56px 26px;
  }
}



/*sub0902*/
@media (min-width:560px) {
  .sub0902_pw {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
  }

  .sub0902_tit {
    padding: 150px 0 40px;
  }

  .sub0902_txt_box {
    margin: 0 184px;
  }

  .sub0902_alert {
    margin: 40px 184px 0;
  }
}

/* 데이트피커 */

@media (min-width:560px) {

  /* 데이트피커 */
  .sub03_calendar .sub03_calendar_inner {
    max-width: 768px;
  }
}


@media (min-width:560px) {

  /* 데이트피커 */
  .sub0301_calendar .sub0301_calendar_inner {
    max-width: 768px;
  }
}

@media (min-width:560px) {

  /* 데이트피커 */
  .sub05_calendar .sub05_calendar_inner {
    max-width: 768px;
  }

}

@media (min-width:560px) {

  /* 데이트피커 */
  .sub0501_calendar .sub0501_calendar_inner {
    max-width: 768px;
  }
}

@media (min-width:560px) {

  /* 데이트피커 */
  .sub06_calendar .sub06_calendar_inner {
    max-width: 768px;
  }
}

@media (min-width:560px) {

  /* 데이트피커 */
  .sub0601_calendar .sub0601_calendar_inner {
    max-width: 768px;
  }
}



/* 또수정 */

@media (min-width:560px) {

  /* 데이트피커 */
  .sub02_calendar .sub02_calendar_inner {
    max-width: 768px;
  }
}


/* 0401사진보기모달 */
@media (min-width:560px) {
  .sub0401_modal_inner {
    max-width: 768px;
  }
}


@media (min-width:560px) {
  .list_0303 ul li {
    padding: 20px 56px 20px;
  }

  .list_0303 .month_03 {
    padding: 40px 0 30px;
  }

  .list_0303 .month_0303 {
    font-size: 2.0rem;
  }

  .list_0303 ul li .tit_0303 {
    font-size: 1.8rem;
    padding-bottom: 6px;
  }

  .list_0303 ul li .txt_0303 {
    font-size: 1.8rem;
  }

  .list_0303 ul li span {
    font-size: 1.6rem;
    padding-top: 6px;
  }
}



/* sub0502 */

/* sub05 */

@media (min-width:560px) {

  .sub0502_wrap {
    padding: 0 56px 12px;
  }

  .sub0502_tit {
    padding: 24px 24px;
  }


  .sub0502_tit li p {
    font-size: 1.8rem;
  }

  .sub0502_tit li>span {
    display: block;
    font-size: 1.6rem;
  }

  .sub0502_tit li p {
    padding-bottom: 4px;
  }

  .sub0502_tit>li:nth-child(1) p span {
    top: 8px;
  }

  .sub0502_tit.active0502 {
    padding-bottom: 0;
  }


  /* 데이트피커 */
  .sub0502_calendar .sub0502_calendar_inner {
    max-width: 768px;
  }
}

/* 또또수정 */
@media (min-width:560px) {

  .sub0602_wrap {
    padding: 0 56px 12px;
  }

  .sub0602_tit {
    padding: 24px 24px;
  }


  .sub0602_tit li p {
    font-size: 1.8rem;
  }

  .sub0602_tit li>span {
    display: block;
    font-size: 1.6rem;
  }

  .sub0602_tit li p {
    padding-bottom: 4px;
  }

  .sub0602_tit>li:nth-child(1) p span {
    top: 8px;
  }

  .sub0602_tit.active06 {
    padding-bottom: 0;
  }

  /* 데이트피커 */
  .sub0602_calendar .sub0602_calendar_inner {
    max-width: 768px;
  }
}

/*마이페이지 코치마크 수정*/
@media(min-width:560px) {
  .coatch09_guide {
    top: 260px
  }

  .coatch09_detail {
    top: 400px
  }
}